*,
*::before,
*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    padding: 0px 0px 50px 50px;
    z-index: 0; 
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto',sans-serif;
    background-color: #eeeeee;
}
.navbr{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;

}
.navii{
    font-size: 20px;
    color: white;
    text-align: right;
}
.diag-card{
    min-width: 400px;
    max-width: 65%;
    height: auto;
    width: 80%;
    z-index: -5;
    position: relative;
}
.event-illus
{
    top: 40px;
    right: 40px;
}
button.navbar-toggler {
    float: right;
    margin: 20px;
}
.logo{
    width: 150;
        height: 150;
    z-index: 5;
    position: absolute;
}
.bg{
    position: relative; 
    top:-285px; 
    right: -400px; 
    width: 1000px;
}
.button{
    background-color: purple;
    color: white;
    border-color: bLack;
}
.cont{
    margin: 50px 0 0;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin: 10px 40px 10px 10px;
  }
  
  .card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  }
  
  .contcard {
    padding: 2px 16px;
  }
  .blog-post{
    width: 100%;
    max-width: 98rem;
    padding: 3rem 3rem 3rem 5rem;
    background-color: #ffffff;
    display: flex;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    align-items: center;
    border-radius: 0.6rem ;
    margin: 20px;
}

.blog-post__img{
    min-width: 20rem;
    max-width: 20rem;
    height: 20rem;
    transform: translateX(-7rem);
    position: relative;
}

.blog-post__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .6rem;
}

.blog-post__img::before{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right,rgba(250,1,196,0.8),rgba(75,15,99,0.8));
    box-shadow: 0.5rem 0.5rem 0.3rem 1px rgba(0,0,0,0.05);
    border-radius: 0.6rem;
}

/* .blog-post__img:hover::before {      // Old Anushree's code
    opacity: 0; 
} */

.blog-post:hover .blog-post__img::before {      /*New code for opacity 0 on hover over entire card*/
    opacity: 0;
}


.blog-post__date span{
    display: block;
    color: rgba(0,0,0,0.5);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.2rem 0;
}

.blog-post__title{
    font-size: 2.0rem;
    margin: 0.5rem 0 0.5rem;
    text-transform: uppercase;
    color:black;
    font-weight: 1000;
}

.blog-post__text{
    margin-bottom: 2.0rem;
    font-size: 0.9rem;
    color:rgba(0,0,0,0.7);
}

@media only screen and (max-device-width: 540px){
    .logo{
        background-color: whitesmoke;
        width: 100;
        height: 100;
    }

}
@media screen and (max-width:1068px){
    .blog-post{
        max-width: 80rem;
    }

    .blog-post__img{
        min-width: 20rem;
        max-width: 20rem;
    }
}

@media screen and(max-width: 868px){
    .blog-post{
        max-width: 80rem;
    }
}

.blog-post__img{
    min-width: 30rem;
    max-width: 30rem;
}

@media screen and(max-width:868px){
    .blog-post{
        padding: 2.0rem;
        flex-direction: column;
    }
    .blog-post__img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0,-7rem);
    }
}

@media screen and (max-width:798px){
    .blog-post{
        padding: 2.0rem;
        flex-direction: column;
    }

    .blog-post__img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0,-7rem);
    }
}
@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 1025px) {
	
} 