body {
    padding: 0px 0px 0px 50px;
    z-index: 0; 
    width: 100%;
    overflow-x: hidden;
}
.navbr{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;

}
.navii{
    font-size: 20px;
    color: white;
    text-align: right;
}
.diag-card{
    min-width: 400px;
    max-width: 65%;
    height: auto;
    width: 80%;
    z-index: -5;
    position: relative;
}
.event-illus
{
    top: 40px;
    right: 40px;
}
button.navbar-toggler {
    float: right;
    margin: 20px;
}
.logo{
    width: 150;
        height: 150;
    z-index: 5;
    position: absolute;
}
.bg{
    position: relative; 
    top:-260px; 
    right: -455px; 
    width: 900px;
}
.box{
    width: 1000px;
    height: 300px;
    border: 5px solid grey;
    border-radius: 20px;
    padding: 50px 50px 70px 50px;
    margin: 5px 70px;
}
.imgcolumn{
    float: left;
    width: 33%;
}
.txtcolumn{
    float: left;
    width: 66%;
}
.box-heading{
    color: purple;
}
.button{
    background-color: purple;
    color: white;
    border-color: bLack;
}
.cont{
    margin: 50px 0 0;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin: 10px 40px 10px 10px;
  }
  
  .card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  }
  
  .contcard {
    padding: 2px 16px;
  }
@media only screen and (max-device-width: 540px){
    .logo{
        background-color: whitesmoke;
        width: 100;
        height: 100;
    }

}
@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 1025px) {
	
} 