@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
}

html,body {
    overflow-x: hidden;
    padding: 0px 0px 0px 0px;
    z-index: 0; 
}
.navbar {
    /* position: absolute; */
    font-weight: 700;
    padding: 0rem;
}

.nav-item:hover {
    transform: translate3d(2px,2px,2px);
    font-size: xx-large;
    /* text-shadow: 0.5px 0.5px 0.5px #acacac; */
    text-decoration: underline;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
border-color: black;
}
#abouthead {
    width: 40vw;
    margin-top: 2em;
}
#aboutbg1 {
    z-index: -1;
    height: 70vh;
    position: absolute;
    margin-top: 12em;
    margin-left: -6em;
    opacity: 0.5;
    filter:alpha(opacity=50);
}
#aboutbg2 {
    z-index: -1;
    height: 70vh;
    position: absolute;
    margin-top: -25em;
    right: -6em;
    opacity: 0.5;
    filter:alpha(opacity=50);
}
#aboutbg3 {
    z-index: -1;
    height: 70vh;
    position: absolute;
    margin-top: 12em;
    margin-left: -12em;
    opacity: 0.5;
    filter:alpha(opacity=50);
}
#aboutbg4 {
    z-index: -1;
    height: 70vh;
    position: absolute;
    margin-top: -5em;
    margin-left: -4em;
    opacity: 0.5;
    filter:alpha(opacity=50);
}
#aboutbg5 {
    z-index: -1;
    height: 70vh;
    position: absolute;
    margin-top: -25em;
    right: -8em;
    opacity: 0.5;
    filter:alpha(opacity=50);
}

.heading {
    font-size: 3rem;
    text-align: center;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
border-color: black;
} 
.logo{
    width: 150;
        height: 150;
    z-index: 5;
    position: absolute;
}
.bg{
    position: relative; 
    top:-285px; 
    right: -400px; 
    width: 1000px;
}
.button{
    background-color: purple;
    color: white;
    border-color: bLack;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin: 20px 40px 20px 10px;
    border-radius: 0.7rem;
    align-items: center;
  }
  .card img{
      border-top-left-radius: 0.7rem;
      border-top-right-radius: 0.7rem;
  }
  
  .card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  }
  
  .contcard {
    padding: 2px 16px;
  }
  .contcard h4{
    font-size: 2vw;
}
.contcard h5{
    font-size: 1.5vw;
}
.contcard p{
    font-size: 1.2vw;
}

  .cont{
    padding: 0px 0px 50px 40px;
    position: relative;
    padding-top: 30px;
}

.cont4 {
    box-sizing: content-box;
    background-image: url('../img/index/hist.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 0.5rem;
    width: 100%;
    height: 867px; 
}


.cont1{
    position: relative;
    margin-top: 2em;
}

.cont12{
    position: relative;
    margin-top: 2em;
}

.carouselcont{
    padding: 220px 0px 0px 0px;
}
 
.cont7 {
    background-image: url('../img/index/socialfooter1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 7rem;
    height: 365.31px;
}

#sbmlogo {
    position: absolute;
    top: 0;
    bottom: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 9em;
}

.contactusrow {
    /* color: #c159b8; */
    margin-bottom: -10rem;
    font-size: 3rem;
}

.socialrow {
    padding-top: 13.5em;
    /* margin-top: 10rem; */
}

.socialrowmobile {
    display: none;
}

.socialiconscol {
    /* margin-top: 5em; */
    /* padding-left: 5em;
    padding-right: 5em;
    border-style: solid;
    border-width: 0 2.7px;
    border-color: #f0d1f0; */
}

.socialiconscol2 {
    margin-top: 10vh; 
    padding: 1rem;
    padding-top: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}

.contactdetailscol {
    margin-top: 1em;
}

.socialiconscol a {
    color: #f0d1f0;
}

.socialiconscol .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.socialiconscol .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

.socialiconscol #social-fb:hover {
  color: #dfb6ff;
}

.socialiconscol #social-tw:hover {
  color: #dfb6ff;
}

.socialiconscol #social-gp:hover {
  color: #dfb6ff;
}

.socialiconscol #social-em:hover {
  color: #dfb6ff;
}

.socialiconscol #social-li:hover {
    color: #dfb6ff;
}

.socialiconscolmobile a {
    color: #f0d1f0;
}

.socialiconscolmobile .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.socialiconscolmobile .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

.socialiconscolmobile #social-fb:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-tw:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-gp:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-em:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-li:hover {
    color: #dfb6ff;
}

.cont8 {
    background-image: url('../img/index/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    /* background-position-y: 4.5rem; */
    height: 57.31px;
}

.copyrightrow {
    margin-top: 1em;
}

.cont9 {
    margin-top: 10vh;
}


  .blog-post{
    width: 100%;
    height: 100%;
    max-width: 98rem;
    padding: 2rem;
    padding-left: 6rem;
    padding-right: 4rem;
    background-color: #ffffff;
    display: flex;
    z-index: 0;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    align-items: center;
    border-radius: 0.8rem ;
    margin-bottom: 4rem;
}

.blog-post__img{
    min-width: 20rem;
    max-width: 20rem;
    height: 20rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post__img img{
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    border-radius: .8rem;
}

.blog-post__img::before{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right,#1668d3,#9a30de);
    opacity: 0.6;
    box-shadow: 0.5rem 0.5rem 0.3rem 1px rgba(0,0,0,0.05);
    border-radius: 0.8rem;
}

.blog-post:hover .blog-post__img::before {
    opacity: 0;
}
.blog-post__info{
    margin-left: -4rem;
}
.blog-post__title{
    font-size: 2.0rem;
    margin: 0.5rem 0 0.5rem;
    text-transform: uppercase;
    color:black;
    font-weight: 1000;
}

.blog-post__text{
    margin-bottom: 2.0rem;
    font-size: 0.9rem;
    color:rgba(0,0,0,0.7);
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.blog-post{
        padding: 2.5rem;
        flex-direction: column;
        max-width: 50vw;
    }
    .blog-post__img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0,-8rem);
        max-width: 50vw;
    }
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-nav li {
        margin-left: 1em;
    }

    .navtop {
        margin-top: 1.5em;
    }
    
	.blog-post{
        /*padding: 1.5rem;*/
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 7em;
        box-shadow: 0 1rem 4rem rgba(0,0,0,0.2);
        margin-left: -1.4em; 
    }
    .blog-post__img{
        margin-top: 15%;
        min-width: 100%;
        max-width: 100%;
        transform: translate(0,-8rem);
        /* min-width: 30rem; */
        max-width: 50vw;
    }
    .blog-post__title {
        text-align: center;
    }
    .blog-post__text {
        text-align: justify;
    }
    .blog-post__info {
        margin-top: -6.5em;
        margin-left: 0.3rem;
    }

    .blog-post__img::before{
        background: none;
        box-shadow: 0.5rem 0.5rem 0.3rem 1px rgba(0,0,0,0.05);
        border-radius: 0.8rem;
    }
    #abouthead {
        width: 60vw;
        align-items: center;
    }

    .card {
        width: 70vw;
        /* margin-left: -10vw;
        margin-right: -10vw; */
        margin-bottom: 15vw;
        align-items: center;
    }
    .contcard h4{
        font-size: 7vw;
    }
    .contcard h5{
        font-size: 6vw;
    }
    .contcard p{
        font-size: 5vw;
    }
    .heading {
        font-size: 8vw;
       /* margin-left: 15vw;
        margin-right: -15vw; */
        text-align: center;
    }
    .cont1 {
        margin-top: -4.7em;
    }
    #aboutbg1 {
        display: none;
    }
    #aboutbg2 {
        display: none;
    }
    #aboutbg3 {
        display: none;
    }
    #aboutbg4 {
        display: none;
    }
    #aboutbg5 {
        display: none;
    }
    .cont4 {
        width:100%;
        height: 100vw; 
    }
    .carouselcont{
        padding: 100px 32px 0px 0px;
    }
    .socialiconscol {
        display: none;
    }

    #sbmlogo {
        margin-top: -2.7em;
    }

    .contactdetailscol {
        margin-top: -2.7em;
    }

    .socialrowmobile {
        display: block;
        margin-top: 1.2em;
    }

    .socialiconscol2mobile {
        padding: 0rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; 
    }

}

@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .blog-post__img img{

        width: 80%;
        height: 80%;
        transform: translate(1em,2em);
        
    }
    .blog-post__img::before{
        background: none;
        width: 80%;
        height: 80%;
        transform: translate(3em,2em);

    }
    .blog-post__info {
        margin-left: -6rem;
        width: 100%;
      }

      .blog-post{
          padding:2em;
      }
    .blog-post__title{
        margin-bottom: 8px;
        margin-top: 0px;
        text-align: center;
    }
    .blog-post__text {
        text-align: left;
    }
    #abouthead {
        width: 60vw;
        align-items: center;
    }

    .card {
        width: 40%;
        /* margin-left: -10vw;
        margin-right: -10vw; */
        /* margin-bottom: 15vw; */
        align-items: center;
    }
    .contcard h4{
        font-size: 4vw;
    }
    .contcard h5{
        font-size: 3.5vw;
    }
    .contcard p{
        font-size: 3vw;
    }
    .heading {
        font-size: 6vw;
        /* margin-left: 15vw;
        margin-right: -15vw; */
        text-align: center;
    }
    #aboutbg1 {
        display: none;
    }
    #aboutbg2 {
        display: none;
    }
    #aboutbg3 {
        display: none;
    }
    #aboutbg4 {
        display: none;
    }
    #aboutbg5 {
        display: none;
    }
    .cont4 {
        width:100%;
        height: 100vw; 
    }
    .carouselcont{
        padding: 100px 32px 0px 0px; 
    }
    .socialiconscol {
        display: none;
    }

    #sbmlogo {
        margin-top: -2.4em;
    }

    .contactdetailscol {
        margin-top: -1.0em;
    }

    .socialrowmobile {
        display: block;
        margin-top: 2.3em;
    }

    .socialiconscol2mobile {
        padding: 0rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; 
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.blog-post{
        padding: 2.5rem;
        flex-direction: column;
        max-width: 50vw;
    }
    .blog-post__img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0,-8rem);
        max-width: 50vw;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .cont {
        padding: 0px 0px 0px 0px;
    }
    .blog-post{
        /*padding: 1.5rem;*/
        flex-direction: column;
        margin: auto;
        min-width: 80%;
        max-width: 80%;
        margin-bottom: 7em; 
        box-shadow: 0 1rem 4rem rgba(0,0,0,0.2);
         /* margin-left: -1.5em;  */
    }
    .blog-post__img{
        margin-top: 15%;
        min-width: 90%;
        max-width: 90%;
        transform: translate(0,-10rem);
        /* min-width: 30rem; */
        max-width: 50vw;
    }
    .blog-post__title {
        text-align: center;
        font-size: 250%;
    }
    .blog-post__text {
        text-align: justify;
        font-size: 150%;

    }
    .blog-post__info {
        margin-top: -6.5em;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .blog-post__img::before{
        background: none;
        box-shadow: 0.5rem 0.5rem 0.3rem 1px rgba(0,0,0,0.05);
        border-radius: 0.8rem;
    }
    .heading {
        font-size: 6vw;
        margin-bottom: 2em;
        /* margin-left: 15vw;
        margin-right: -15vw; */
        text-align: center;
    }
    .carouselcont {
        padding: 100px 0px 0px 0px;
    }
    .card {
        width: 40%;
        margin: 20px 20px 20px 20px;
        /* margin-left: -10vw;
        margin-right: -10vw; */
        align-items: center;
    }
    .contcard h4{
        font-size: 4vw;
    }
    .contcard h5{
        font-size: 3.5vw;
    }
    .contcard p{
        font-size: 3vw;
    }
    .contactusrow {
        margin-top: 10vw;
    }


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 1025px) {

} 