body {
    padding: 0px 0px 0px 0px;
    z-index: 0; 
}
.navbar{
    padding:0;
}

.navbar-dark {
    /* background-color: #512DA8; */
}
.cont1 {
    margin-top: 20vh;
    padding: 0; 
}

.cardrow {
    color: black;
}

.card {
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    min-height: 250px;
    max-height: 250px;
  }
  .container .cards {
    position: relative;
}
.cardabout
{
    margin-left: 0px !important;
    padding-left: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    min-height: 250px;
    max-height: 250px;
    background: linear-gradient(135deg, #4A0C59 4.2%, #CB42B5 100%);
    
  }
    
.cont2
{
        margin-top: 8vh;
        padding: 0;
}
.container .cards .face {
    position: relative;
    align-content: center;
    width: 300px;
    height: 300x;
    transition: .5s;
}

.container .cards .face.face1 {
    position: relative;
    display: flex;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(135px);
}

.container .cards:hover .face.face1 {
    transform: translateY(0);
}

.container .cards .face.face1 .content {
    opacity: 1;
    transition: .5s;
}
.container .cards:hover .face.face1 .content {
    opacity: 1;

}
.container .cards .face.face1 img {
    max-width: 1000px;
}
.container .cards .face.face2 {
    position: relative;
    background: linear-gradient(135deg, #4A0C59 4.2%, #CB42B5 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(-10px);
}
.container .cards .face.face2 .content p {
    margin: 0;
    padding: 0;
    color: black;
}
.contactusrow {
    /* color: #c159b8; */
    margin-bottom: -10rem;
    font-size: 3rem;
}

.cont7 {
    background-image: url('../img/index/socialfooter1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 7rem;
    height: 365.31px;
}

#sbmlogo {
    position: absolute;
    top: 0;
    bottom: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 9em;
}

.contactusrow {
    /* color: #c159b8; */
    margin-bottom: -10rem;
    font-size: 3rem;
}

.socialrow {
    padding-top: 220px;
    /* margin-top: 10rem; */
}

.socialiconscol {
    /* margin-top: 5em; */
    /* padding-left: 5em;
    padding-right: 5em;
    border-style: solid;
    border-width: 0 2.7px;
    border-color: #f0d1f0; */
}

.socialiconscol2 {
    margin-top: 10vh; 
    padding: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}

.socialiconscol a {
    color: #f0d1f0;
}

.socialiconscol .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.socialiconscol .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.socialiconscol #social-fb:hover {
    color: #3B5998;
  }
  
  .socialiconscol #social-tw:hover {
    color: #4099FF;
  }
  
  .socialiconscol #social-gp:hover {
    color: #d34836;
  }
  
  .socialiconscol #social-em:hover {
    color: #f39c12;
  }
  
  .socialiconscol #social-li:hover {
      color: #f39c12;
  }
  
  .cont8 {
      background-image: url('../img/index/footer.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      /* background-position-y: 4.5rem; */
      height: 57.31px;
  }
  
  .copyrightrow {
      margin-top: 1em;
  }





@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 1025px) {
	
} 