*{
    font-family: Roboto;
}

body {
    padding: 0px 0px 0px 0px;
    z-index: 0; 
    overflow-x: hidden;
}
.navbar {
    /* position: absolute; */
    font-weight: 700;
    padding: 0rem;
}

.nav-item:hover {
    transform: translate3d(2px,2px,2px);
    font-size: xx-large;
    /* text-shadow: 0.5px 0.5px 0.5px #acacac; */
    text-decoration: underline;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
border-color: black;
} 
#achievmenthead {
    /*margin-top: -8rem;*/
    margin-top: -5vh;
    width: 60vw;  
    position: relative;
}

#bg1 {
    z-index: -1;
    height: 70vh;
    transform: rotate(15deg);
    position: absolute;
    margin-top: 20em;
    margin-left: -2em;
    opacity: 0.5; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
    filter:alpha(opacity=50); /* for <= IE 8 */
}

#bg2 {
    z-index: -1;
    height: 70vh;
    transform: rotate(-20deg);
    position: absolute;
    margin-top: -10em;
    right: -5em;
    margin-right: 4em ;
    opacity: 0.5; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
    filter:alpha(opacity=50); /* for <= IE 8 */
}
.project {
    margin-top: -15%;
    margin-bottom: -2rem;
    font-size: 3rem;
}
.cont2
{   text-align: justify;
    margin-top: 15vh;
    padding: 0;
}
.card-events{
    margin-top: 5vh;
}
.blog-post{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 98rem;
    padding: 4rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    border-radius: 20px ;
}
.blog-post__title{
    text-align: center;
}
.cardrow {
    color: black;
}
.card {
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    min-height:500px;
    max-height: 500px;
    background: white;
  }
  .project_text
  {
     color:black;
     font-size: 1.4rem;
     /*padding: 25px;*/
     padding-bottom: 20px;
     line-height: 30px;
      
  }
  .projectheadtext
  {
      margin-top: -1em;
      font-size: 2.5rem;
      text-transform: uppercase;
      color:#752F8B;
      text-align: center;
  }

.project_text a {
    background:linear-gradient(to bottom, #dfb6ff 0%, #dfb6ff 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: #000;
    text-decoration: none;
    transition: background-size 1s;
    font-style: italic;
}

.project_text a:hover {
    background-size: 4px 50px;
}

.team
{
    display: none;
}
.contcards {
    margin-top: 2vh;
}
.cardrow {
    color: black;
}
.cardtext {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px;
}  
.cont3
{
    
    margin-top: 8vh;
    padding: 0;

}

.container .cards .face {
    position: relative;
   
    width: auto;
    height: auto;
}

.container .cards .face.face1 {
    position: relative;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4A0C59 4.2%, #CB42B5 100%);
}
.team
{
    margin-top: -50px;
        margin-bottom: -50px;
        font-size: 2rem;
        color:#752F8B;
        text-align: center;

}
.cont4
{
    
    margin-top: 2vh;
    padding: 0;

}
.container .cards .face.face2 {
    position: relative;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    background: white;
    min-width: auto;
    max-width: auto;
}
.cardtext1
{
    color: black;
    font-size: 1rem;
    padding: 10px;
    text-align: left;
   
}
.cardtextmobilecontent {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
}
.container .cards .face.face3 {
    position: relative;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    background: white;
    min-width:1000px;
    max-width: 1000px;

}

.cont7 {
    background-image: url('../img/index/socialfooter1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 7rem;
    height: 365.31px;
}

#sbmlogo {
    position: absolute;
    top: 0;
    bottom: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 9em;
}

.contactusrow {
    /* color: #c159b8; */
    margin-bottom: -10rem;
    font-size: 3rem;
}

.socialrow {
    padding-top: 13.5em;
    /* margin-top: 10rem; */
}

.socialrowmobile {
    display: none;
}

.socialiconscol {
    /* margin-top: 5em; */
    /* padding-left: 5em;
    padding-right: 5em;
    border-style: solid;
    border-width: 0 2.7px;
    border-color: #f0d1f0; */
}

.socialiconscol2 {
    margin-top: 10vh; 
    padding: 1rem;
    padding-top: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}

.contactdetailscol {
    margin-top: 1em;
}

.socialiconscol a {
    color: #f0d1f0;
}

.socialiconscol .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.socialiconscol .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

.socialiconscol #social-fb:hover {
  color: #dfb6ff;
}

.socialiconscol #social-tw:hover {
  color: #dfb6ff;
}

.socialiconscol #social-gp:hover {
  color: #dfb6ff;
}

.socialiconscol #social-em:hover {
  color: #dfb6ff;
}

.socialiconscol #social-li:hover {
    color: #dfb6ff;
}

.socialiconscolmobile a {
    color: #f0d1f0;
}

.socialiconscolmobile .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.socialiconscolmobile .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

.socialiconscolmobile #social-fb:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-tw:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-gp:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-em:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-li:hover {
    color: #dfb6ff;
}

.cont8 {
    background-image: url('../img/index/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    /* background-position-y: 4.5rem; */
    height: 57.31px;
}

.copyrightrow {
    margin-top: 1em;
}

 
@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    #bg1 {
       height: 45vh;
        margin-top: 5em;
        display: none;
    }
    
    #bg2 {
        height: 45vh;
        margin-top: 60em;
        display: none;
    }
    .cont3
    {
        display: none;
    }
    .face.face2{
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .blog-post{
        padding: 1.5rem;
        flex-direction: column;
        max-width: 85vw;
        margin: auto;
    }
    .projectheadtext{
        font-size: 1.8rem;
        margin-top: .5em;
    }
    .card {
        /* Add shadows to create the "card" effect */
        border: 1px solid #000000;
        box-sizing: border-box;
        transition: 0.3s;
        width: 200px;
        height: 240px;
        margin: auto;
        margin-bottom: 3em;
    }
    .cardtext1
    {
        color: black;
        font-size: .9rem;
        text-align: left;
    }
    .cardtextmobilecontent {
        margin-top: 3em !important;
        margin-bottom: 0.8em !important;
    }
    #achievmenthead {
        width: 50vw;
        margin-top: 0em;
        vertical-align: middle; 
        width: 35%; 
        min-width: 200px;
    }
    .project {
        margin-top: -50px;
        margin-bottom: -50px;
        font-size: 2rem;
    }
    .pro
    {
        margin-top: -50px;
        margin-bottom: -50px;
        font-size: 2rem;
        color:#752F8B;
        text-align: center;

    }
    .socialiconscol {
        display: none;
    }

    #sbmlogo {
        margin-top: -2.7em;
    }

    .contactdetailscol {
        margin-top: -2.7em;
    }

    .socialrowmobile {
        display: block;
        margin-top: 1.7em;
    }

    .socialiconscol2mobile {
        padding: 0rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; 
    }




@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    #achievmenthead {
        width: 50vw;
        margin-top: -50px;
        margin-bottom: 40px;
        vertical-align: middle; 
        width: 35%; 
        min-width: 200px;
    }
    .face.face2{
        margin-left: 10px;
  
}
.socialiconscol {
    display: none;
}

#sbmlogo {
    margin-top: -2.4em;
}

.contactdetailscol {
    margin-top: -2.4em;
}

.socialrowmobile {
    display: block;
    margin-top: 2.5em;
}

.socialiconscol2mobile {
    padding: 0rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	 .cardtext1 {
      display: none;
    }
    #header1
    {
        display: none;
    }
    #header2
    {
        display: none;
    }
    .cont5
    {
        display: none;
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 1025px) {
    #header1
{
    display: none;
}
#header2
{
    display: none;
}
.cont5
{
    display: none;
}
	
} 