body {
    padding: 0px 0px 0px 0px;
    z-index: 0; 
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 1025px) {
	
} 
.bg{
    position: relative; 
    top:-260px; 
    right: -455px; 
    width: 900px;
}
.diag-card{
    min-width: 400px;
    max-width: 60%;
    height: auto;
    width: 80%;
    z-index: -5;
    position: relative;
}
.content{
    width: 100%;
    margin: 0px auto 0px;
    height: fit-content;
    
}
.content .main-content{
    width: 100%;
    /*float: left;*/
}

.content .main-content.single{
    background: #F0D1F0;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;
}

.content .main-content.single .post-title{
    text-align: center;
    margin-bottom: 60px;
}
   
.content .main-content .recent-post-title{
    margin: 40px;
    width: fit-content;
    margin-bottom: 40px;
}
.content .main-content .post{
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}
.content .main-content .post .post-image{
    width: 40%;
    height: 100%;
    float: left;
}
.content .main-content .post .post-preview{
    padding: 10px;
    width: 60%;
    float: right;
}
.btn {
   padding: 1rem 4rem;
   background: pink !important;
   color: pink !important;
   border: 1px solid transparent;
   border-radius: 0.25rem;
}
.btn:hover{
    color:  pink !important;
    background: purple !important;
}
.content .main-content .post .read-more{
    position: absolute;
    bottom: 1px;
    right: 1px;
    border: 1px solid purple;
    background: transparent;
    border-radius: 10px;
    color: black !important; 
}
.content .main-content .post .read-more:hover{
    background: rgb(228, 33, 228)  !important;
    color: white !important;
    transition: .25s;
}
.clearfix::after{
content: '';
display: block;
clear: both;
}
.cont8 {
    background-image: url('../img/index/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 57.31px;
}
.cont9 {
    background-image: url('../img/index/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 57.31px;
}
.articlehead {
    height: 100vh;
}
.bg1{
    position: relative; 
    top:-260px; 
    right: -455px; 
    width: 900px;
}
.first{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.first1{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.row{
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.first2{
    bottom: 0px;
    flex: 50%;
    /*border: 5px solid red ;*/
    padding: 5px;
    margin: 0 auto;
}
