ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    padding: 0px 0px 0px 0px;
    z-index: 0; 
    background-color: rgb(212, 179, 202);
}
.date{

}
.event-illus
{
    transition: transform .2s; /* Animation */
    width: 65%;
    max-width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.event-illus:hover{
    transform: scale(1.1);
}
.slideshow{
    margin-top: 5vh;
}
.logo{
    width: 150;
        height: 150;
    z-index: 5;
    position: absolute;
}
.upcoming{
    padding-top: 18vh;
}
.register{
    padding-left: 10px;
    padding-top: 20px;
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.date{
        padding: 10%;
    }
    .upcoming
    {
        text-align: center;
    }
    .dates{
        text-justify: auto;
    }
    .event{
        text-justify: auto;
    }
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 1025px) {
	
} 