html,body {
    padding: 0px 0px 0px 0px;
    z-index: 0;
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}
* {
    font-family: Roboto;
}

.navbar {
    /* position: absolute; */
    font-weight: 700;
    padding: 0rem;
}

.nav-item:hover {
    transform: translate3d(2px,2px,2px);
    font-size: xx-large;
    /* text-shadow: 0.5px 0.5px 0.5px #acacac; */
    text-decoration: underline;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
border-color: black;
} 

.conthead {
    margin-top: -25em;
}

#articleshead {
    width: 50%;
    margin-top: 5em;
    margin-bottom: -5em;
}

* {
    font-family: Roboto;
}
    .cont{
        display: block;
        padding-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    } 
    /* Style the element that is used to open and close the accordion class */
    p.accordion {
        background-color:#752F8B;
        color:white;
        cursor: pointer;
        padding:30px;
        margin-top: 0px;
        width: 100%;
        text-align: left;
        font-family: 'Quicksand',sans-serif;
        font-weight: 700;
        font-size:1.2em;
        border-radius: 10px;
        outline: none;
        transition: 0.4s;
        margin-bottom:0px;
        align-items: center;
    }
    
    /* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    p.accordion.active, p.accordion:hover {
        background-color: #BC14B8;
    }
    
    /* Unicode character for "plus" sign (+) */
    p.accordion:after {
        content: '\2795'; 
        font-size: 14px;
        text-shadow:0 0 0 white;
        float: right;
        margin-left: 5px;
    }
    
    /* Unicode character for "minus" sign (-) */
    p.accordion.active:after {
        content: "\2796";
        color:white
    }
    
    /* Style the element that is used for the panel class */
    
    div.panel {
        padding: 0 18px;
        margin: 10px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s ease-in-out;
        width: 100%;
        opacity: 0;
        font-weight: 400;
        font-size:1.0em;
        margin-bottom:10px;
    }
    
    div.panel.show {
        opacity: 1;
        width: 100%;
        max-height: 100%; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
    }

.diag-card{
    min-width: 400px;
    max-width: 60%;
    height: auto;
    width: 80%;
    z-index: -5;
    position: relative;
}
.bg{
    position: relative; 
    top:-390px; 
    right: -565px; 
    width: 900px;
}

#articlebg1 {
    z-index: -1;
    height: 70vh;
    transform: rotate(10deg);
    position: absolute;
    margin-top: -5em;
    margin-left: -6em;
    opacity: 0.5; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
    filter:alpha(opacity=50); /* for <= IE 8 */
}

#articlebg2 {
    z-index: -1;
    height: 70vh;
    transform: rotate(-10deg);
    position: absolute;
    margin-top: 25em;
    right: -5em;
    opacity: 0.5; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
    filter:alpha(opacity=50); /* for <= IE 8 */
}


/*styling footer*/
.footer{
    background: purple;
    color: white;
    height: 450px;
    padding: 25px;

   /* width: 200px;*/
    position: relative;
   /* padding-top: 100px;*/
}
    
.footer-bottom{
    background: rgb(168, 18, 168);
    color: violet;
    height: 50px;
    text-align: center !important;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 100%;
   
    
}
.footer .footer-content{
    /*border: 1px solid red;*/
    height: 350px;
   /* padding-top: 100px;*/
   display: flex;
   padding-block-end: 10px;
   padding-bottom: 10vw;
   background: purple;
}
.container{
    background: white;
    padding-bottom:12px;
    padding-top: 12px;
    border-radius: 10px;
}
.footer .footer-content .footer-section {
    flex: 1;
    bottom: 0px;
    
}
.footer .footer-content h1,
.footer .footer-content h2{
    color: white;
}

.footer .footer-content .about h1 span {
    color: whitesmoke;
}
.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.
1em;
    margin-bottom: 8px;
}
.footer .footer-content .about .socials a {
    border: 1px solid whitesmoke;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
}

.footer .footer-content .about .socials a:hover {
    border: 1px solid gray;
    color: white;
    transition: all .3s;
}
.footer .footer-content .links ul a {
    display: block;
    font-size: 1.0em;
    /*margin-bottom: 10px;*/
    transition: all .3s;

}
.footer .footer-content .links ul a:hover {
   color: gray;
   margin-left: 15px;
   transition: all .3s;
}

.footer .footer-content .contact-form .contact-input {
    background: white;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
}

.footer .footer-content .contact-form .contact-input:focus {
    background:rgb(240, 233, 233);

}
.text-input{
    padding: .7rem 1 rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 11px solid wheat;
    outline: none;
    color:black;
    line-height: 1.5rem;
    font-size: 1.2em;
}
.btn-big{
    padding:  0.5rem 1rem;
    line-height: 1.3rem;
    background: white;

}
.footer .footer-content .contact-form .contact-btn{
    float: right;
    font-size: 1.1em;
    font-family: 'lora',serif;
}
.btn {
    padding: 0.5rem 1rem;
    background: white;
    color:purple;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1.1em;
    /*min-width: min-content;*/
 }
 .btn:hover{
     color:  white !important;
     background: rgb(206, 111, 206);
 }

 .col-12{
    position: relative;
    margin-top: 12rem;

 }

 .cont7 {
    background-image: url('../img/index/socialfooter1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 7rem;
    height: 365.31px;
}

#sbmlogo {
    position: absolute;
    top: 0;
    bottom: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 9em;
}

.contactusrow {
    /* color: #c159b8; */
    margin-bottom: -10rem;
    font-size: 3rem;
}

.socialrow {
    padding-top: 220px;
    /* margin-top: 10rem; */
}

.socialiconscol2 {
    margin-top: 10vh; 
    padding: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}

.socialiconscol a {
    color: #f0d1f0;
}

.socialiconscol .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.socialiconscol .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

.socialiconscol #social-fb:hover {
  color: #3B5998;
}

.socialiconscol #social-tw:hover {
  color: #4099FF;
}

.socialiconscol #social-gp:hover {
  color: #d34836;
}

.socialiconscol #social-em:hover {
  color: #f39c12;
}

.socialiconscol #social-li:hover {
    color: #f39c12;
}

.cont8 {
    background-image: url('../img/index/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    /* background-position-y: 4.5rem; */
    height: 57.31px;
}

.copyrightrow {
    margin-top: 1em;
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    #articleshead {
        width: 70%;
        margin-top: 70%;
        margin-bottom: 0%;   
    }

    #articlebg1 {
       height: 45vh;
        margin-top: 5em;
        display: none;
    }
    
    #articlebg2 {
        height: 45vh;
        margin-top: 60em;
        display: none;
    }

    .cont{
        width: 100%;
    } 
    

}

@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    #articleshead {
        width: 70%;
        margin-top: 60%;
        margin-bottom: -10%;   
    }

    #articlebg1 {
       height: 45vh;
        display: none;
    }
    
    #articlebg2 {
        height: 45vh;
        margin-top: 60em;
        display: none;
    }

    .cont{
        width: 100%;
    } 
    
    .col-12{
        position: relative;
        margin-top: 0px
    

}
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    #articleshead {
        width: 70%;
        margin-top: 25%;
        /* margin-bottom: -10%;    */
    }
    #articlebg1 {
        height: 45vh;
        margin-top: 10em;
         /* display: none; */
     }
     
     #articlebg2 {
         height: 35vh;
         margin-top: 40em;
         /* display: none; */
     }
    
    .cont{
        width: 125%;
    } 
        

}
