body {
    padding: 0px 0px 0px 0px;
    z-index: 0;
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 113px;
    height: 100%;
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 1025px) {
	
} 
.accordion{
    /*max-width: 900px;*/
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand',sans-serif;
    background: purple;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 0px;      
   
}
.accordion__label,.accordion__content{
padding: 14px 20px;
align-items: center;
    justify-content: center;
    width: 100%;
    
}
.accordion__label
{
    display: block;
    color: white ;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.accordion__label :hover{
    background: rgba(0,0,0,0.1);
}
.accordion__label::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFF;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}
.accordion__content{
    background: white;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.accordion__input[type="checkbox"]{
    display: none;

}
.accordion__input[type="checkbox"]:checked ~ .accordion__content{
display: block;
}
.accordion__input[type="checkbox"]:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
}
section{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.diag-card{
    min-width: 400px;
    max-width: 60%;
    height: auto;
    width: 80%;
    z-index: -5;
    position: relative;
}
.bg{
    position: relative; 
    top:-260px; 
    right: -455px; 
    width: 900px;
}
/*footer{
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    

}*/
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
.navbar {
    /* position: absolute; */
    padding: 0rem;
}
#accordion ul li:first-child div { 
    display:block;
    border-top:3px solid #FFCDCD;
    }
/*styling footer*/
.footer{
    background: purple;
    color: white;
    height: 400px;
    padding: 20px;
   /* width: 200px;*/
    position: relative;
   /* padding-top: 100px;*/
}
    
.footer-bottom{
    background: rgb(168, 18, 168);
    color: violet;
    height: 50px;
    text-align: center !important;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 100%;
}
.footer .footer-content{
    /*border: 1px solid red;*/
    height: 350px;
   /* padding-top: 100px;*/
}
.container{
    background: white;
    padding-bottom: 440px;
}