body {
    padding: 0px 0px 0px 0px;
    z-index: 0;
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 113px;
    height: 100%;
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 1025px) {
	
} 
.accordion{
    /*max-width: 900px;*/
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand',sans-serif;
    background: purple;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 0px; 
    position: relative;
    /*height: 1500px;*/
        
}
.accordion__label,.accordion__content{
padding: 14px 20px;
align-items: center;
    justify-content: center;
    width: 100%;
    
}
.accordion__label
{
    display: block;
    color: white ;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.accordion__label :hover{
    background: rgba(0,0,0,0.1);
}
.accordion__label::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFF;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}
.accordion__content{
    background: white;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.accordion__input[type="checkbox"]{
    display: none;

}
.accordion__input[type="checkbox"]:checked ~ .accordion__content{
display: block;
}
.accordion__input[type="checkbox"]:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
}
section{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.diag-card{
    min-width: 400px;
    max-width: 60%;
    height: auto;
    width: 80%;
    z-index: -5;
    position: relative;
}
.bg{
    position: relative; 
    top:-390px; 
    right: -565px; 
    width: 900px;
}
/*footer{
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    

}*/
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
.navbar {
    /* position: absolute; */
    padding: 0rem;
}
#accordion ul li:first-child div { 
    display:block;
    border-top:3px solid #FFCDCD;
    }
/*styling footer*/
.footer{
    background: purple;
    color: white;
    height: 450px;
    padding: 25px;

   /* width: 200px;*/
    position: relative;
   /* padding-top: 100px;*/
}
    
.footer-bottom{
    background: rgb(168, 18, 168);
    color: violet;
    height: 50px;
    text-align: center !important;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 100%;
   
    
}
.footer .footer-content{
    /*border: 1px solid red;*/
    height: 350px;
   /* padding-top: 100px;*/
   display: flex;
   padding-block-end: 10px;
   padding-bottom: 10vw;
   background: purple;
}
.container{
    background: white;
    padding-bottom: 570px;
}
.footer .footer-content .footer-section {
    flex: 1;
    bottom: 0px;
    
}
.footer .footer-content h1,
.footer .footer-content h2{
    color: white;
}

.footer .footer-content .about h1 span {
    color: whitesmoke;
}
.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .footer-content .about .socials a {
    border: 1px solid whitesmoke;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
}

.footer .footer-content .about .socials a:hover {
    border: 1px solid gray;
    color: white;
    transition: all .3s;
}
.footer .footer-content .links ul a {
    display: block;
    font-size: 1.0em;
    /*margin-bottom: 10px;*/
    transition: all .3s;

}
.footer .footer-content .links ul a:hover {
   color: gray;
   margin-left: 15px;
   transition: all .3s;
}

.footer .footer-content .contact-form .contact-input {
    background: white;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
}

.footer .footer-content .contact-form .contact-input:focus {
    background:rgb(240, 233, 233);

}
.text-input{
    padding: .7rem 1 rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 11px solid wheat;
    outline: none;
    color:black;
    line-height: 1.5rem;
    font-size: 1.2em;
}
.btn-big{
    padding:  0.5rem 1rem;
    line-height: 1.3rem;
    background: white;

}
.footer .footer-content .contact-form .contact-btn{
    float: right;
}
.btn {
    padding: 0.5rem 1rem;
    background: white;
    color:purple;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1.1em;
    /*min-width: min-content;*/
 }
 .btn:hover{
     color:  white !important;
     background: rgb(206, 111, 206);
 }