@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
    padding: 0px 0px 0px 0px;
    z-index: 0; 
    scroll-behavior: smooth;
}

.navbar {
    /* position: absolute; */
    font-weight: 700;
    padding: 0rem;
}

.nav-item:hover {
    transform: translate3d(2px,2px,2px);
    font-size: xx-large;
    /* text-shadow: 0.5px 0.5px 0.5px #acacac; */
    text-decoration: underline;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
border-color: black;
} 

#faqshead {
    width: 50%;
    margin-top: 17em;
    margin-bottom: -5em;
    z-index: 1;
}

.conthead {
    margin-top: -25em;
}


.cont{
    z-index: 2;
    display: block;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 4.5em;
} 
/* Style the element that is used to open and close the accordion class */
p.accordion {
    background-color:#752F8B;
    color:white;
    cursor: pointer;
    padding:30px;
    margin-top: 0px;
    width: 100%;
    text-align: left;
    font-weight: 700;
    font-size:1.2em;
    border-radius: 10px;
    outline: none;
    transition: 0.4s;
    margin-bottom:0px;
    align-items: center;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
    background-color: #BC14B8;
}

/* Unicode character for "plus" sign (+) */
p.accordion:after {
    content: '\2795'; 
    font-size: 14px;
    text-shadow:0 0 0 white;
    float: right;
    margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
    content: "\2796";
    color:white
}

/* Style the element that is used for the panel class */

div.panel {
    padding: 0 18px;
    margin: 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    width: 100%;
    opacity: 0;
    font-weight: 400;
    font-size:1.0em;
    margin-bottom:10px;
}

div.panel.show {
    opacity: 1;
    width: 100%;
    max-height: 100%; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

.diag-card{
min-width: 400px;
max-width: 60%;
height: auto;
width: 80%;
z-index: -5;
position: relative;
}
.bg{
position: relative; 
top:-390px; 
right: -565px; 
width: 900px;
}

#faqsbg1 {
z-index: -1;
height: 70vh;
transform: rotate(10deg);
position: absolute;
margin-top: -5em;
margin-left: -6em;
opacity: 0.5; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
filter:alpha(opacity=50); /* for <= IE 8 */
}

#faqsbg2 {
z-index: -1;
height: 70vh;
transform: rotate(-10deg);
position: absolute;
margin-top: 25em;
right: -5em;
opacity: 0.5; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
filter:alpha(opacity=50); /* for <= IE 8 */
}

/* footer */

.cont7 {
    background-image: url('../img/index/socialfooter1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 7rem;
    height: 365.31px;
}

#sbmlogo {
    position: absolute;
    top: 0;
    bottom: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 9em;
}

.contactusrow {
    /* color: #c159b8; */
    margin-bottom: -10rem;
    font-size: 3rem;
}

.socialrow {
    padding-top: 13.5em;
    /* margin-top: 10rem; */
}

.socialrowmobile {
    display: none;
}

.socialiconscol {
    /* margin-top: 5em; */
    /* padding-left: 5em;
    padding-right: 5em;
    border-style: solid;
    border-width: 0 2.7px;
    border-color: #f0d1f0; */
}

.socialiconscol2 {
    margin-top: 10vh; 
    padding: 1rem;
    padding-top: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}

.contactdetailscol {
    margin-top: 1em;
}

.socialiconscol a {
    color: #f0d1f0;
}

.socialiconscol .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.socialiconscol .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

.socialiconscol #social-fb:hover {
  color: #dfb6ff;
}

.socialiconscol #social-tw:hover {
  color: #dfb6ff;
}

.socialiconscol #social-gp:hover {
  color: #dfb6ff;
}

.socialiconscol #social-em:hover {
  color: #dfb6ff;
}

.socialiconscol #social-li:hover {
    color: #dfb6ff;
}

.socialiconscolmobile a {
    color: #f0d1f0;
}

.socialiconscolmobile .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.socialiconscolmobile .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

.socialiconscolmobile #social-fb:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-tw:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-gp:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-em:hover {
  color: #dfb6ff;
}

.socialiconscolmobile #social-li:hover {
    color: #dfb6ff;
}

.cont8 {
    background-image: url('../img/index/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    /* background-position-y: 4.5rem; */
    height: 57.31px;
}

.copyrightrow {
    margin-top: 1em;
}

.cont9 {
    margin-top: 10vh;
}


@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-nav li {
        margin-left: 1em;
    }

    .navtop {
        margin-top: 1.5em;
    }
    
    #faqshead {
        width: 70%;
        margin-top: 120%;
        margin-bottom: 0%;   
    }

    #faqsbg1 {
       height: 45vh;
        margin-top: 5em;
        display: none;
    }
    
    #faqsbg2 {
        height: 45vh;
        margin-top: 60em;
        display: none;
    }

    .cont{
        width: 100%;
    } 
	.socialiconscol {
        display: none;
    }

    #sbmlogo {
        margin-top: -2.7em;
    }

    .contactdetailscol {
        margin-top: -2.7em;
    }

    .socialrowmobile {
        display: block;
        margin-top: 1.2em;
    }
    .socialrow {
        margin-top: -6em;
    }

    .socialiconscol2mobile {
        padding: 0rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; 
    }

}

@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    #faqshead {
        width: 70%;
        margin-top: 60%;
        margin-bottom: -10%;   
    }

    #faqsbg1 {
       height: 45vh;
        display: none;
    }
    
    #faqsbg2 {
        height: 45vh;
        margin-top: 60em;
        display: none;
    }

    .cont{
        width: 100%;
    } 
    
    .col-12{
        position: relative;
        margin-top: 0px
    }    
    .socialiconscol {
        display: none;
    }

    #sbmlogo {
        margin-top: -2.4em;
    }

    .contactdetailscol {
        margin-top: -1.0em;
    }

    .socialrowmobile {
        display: block;
        margin-top: 2.3em;
    }

    .socialiconscol2mobile {
        padding: 0rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; 
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    #faqshead {
        width: 70%;
        margin-top: 25%;
        /* margin-bottom: -10%;    */
    }
    #faqsbg1 {
        height: 45vh;
        margin-top: 10em;
         /* display: none; */
     }
     
     #faqsbg2 {
         height: 35vh;
         margin-top: 40em;
         /* display: none; */
     }
    
    .cont{
        width: 125%;
    } 
}
@media only screen and (max-device-width: 1025px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .socialiconscol {
        display: none !important;
    }
}

@media only screen and (min-device-width: 560px) and (max-device-width: 770px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .navtop {
        margin-top: 0em !important;
    }
}

@media only screen and (min-device-width: 2155px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .socialiconscol {
        margin-top: 1em;
    }

    .socialiconscol2 {
        margin-left: 20em !important;
    }

    .contactdetailscol .row{
        margin-left: 30em;
    }

    #sbmlogo {
        margin-left: 10em;
    }
}