* {
    font-family: Roboto;
}

body {
    padding: 0px 0px 0px 0px;
    z-index: 0; 
}

.navbar {
    /* position: absolute; */
    font-weight: 700;
    padding: 0rem;
}


.contcards {
    margin-top: 2vh;
}

.cardrow {
    color: black;
}

.card {
    /* Add shadows to create the "card" effect */
    border: 1px solid #000000;
    box-sizing: border-box;
    transition: 0.3s;
    width: 318px;
    height: 357px;
}

.card1 {
    background: linear-gradient(90deg, #752F8B 0%, #BC14B8 327.67%);
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card1 img {
    max-width:100%;
    max-height:100%;
    padding: 2rem;
}

.cardtext {
    color: white;
    font-weight: 900;
}

.card2 {
    background: linear-gradient(90deg, #752F8B -115.09%, #BC14B8 213.21%);
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card2 img {
    max-width:100%;
    max-height:100%;
    padding: 2rem;
}

.card3 {
    background: linear-gradient(90deg, #752F8B -230.66%, #BC14B8 100%);
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.card3 img {
    max-width:100%;
    max-height:100%;
    padding: 2rem;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 10px rgba(0,0,0,0.2);
}


.navbar-dark {
    /* background-color: #512DA8; */
}

.landingdesktop {
    width: 100%;
    margin-top: -5vh;
}

.abtieeewie {
    margin-top: 5rem;
    margin-bottom: -3.5rem;
    font-size: 3rem;
}

.container .cards {
    position: relative;
}

.container .cards .face {
    position: relative;
    align-content: center;
    width: 300px;
    height: 300x;
    transition: .5s;
}

.container .cards .face.face1 {
    position: relative;
    display: flex;
    /* background: linear-gradient(135deg, #4A0C59 4.2%, #CB42B5 100%); */
    background: white;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    /* border-style: solid; */
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(144px);
}

.container .cards:hover .face.face1 {
    transform: translateY(0);
    /* background: rgb(8, 36, 114); */
}

.container .cards .face.face1 .content {
    opacity: 1;
    transition: .5s;
}
.container .cards:hover .face.face1 .content {
    opacity: 1;

}
.container .cards .face.face1 img {
    max-width: 100%;
    max-height: 100%;
}
.container .cards .face.face2 {
    position: relative;
    background: #FFFFFF;
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(-10px);
}
.container .cards .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: justify;
    color: black;
}
.container .cards .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    background: linear-gradient(135deg, #4A0C59 4.2%, #CB42B5 100%);
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 7px;
}
.container .cards .face.face2 a:hover {
    background: #333;
    color: white;
}

.cont4 {
    /* background-image: url('../img/index/histtime.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 0.5rem;
    height: 867px; */
}

.hist {
    margin-top: 5rem;
    margin-bottom: -2rem;
    font-size: 3rem;
}

.goals {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.goalrow {
    margin-top: -5rem;
    width: auto;
    /* margin-bottom: -10rem; */
}

.cont6 {
    background-image: url('../img/index/regis.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 2.5rem;
    height: 950px;
}

.registerrow {
    margin-top: 5rem;
    margin-bottom: 6rem;
    font-size: 3rem;
}

.swiper-container {
    width: 50%;
    height: 40%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.regisbutton {
    margin-top: 3rem;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 900;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
}

.cont7 {
    background-image: url('../img/index/socialfooter.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    /* background-position-y: 4.5rem; */
    height: 365.31px;
}

.cont8 {
    background-image: url('../img/index/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    /* background-position-y: 4.5rem; */
    height: 57.31px;
}

.cont9 {
    margin-top: 10vh;
}

.blog-post{
    width: 100%;
    height: 100%;
    max-width: 98rem;
    padding: 4rem;
    background-color: #ffffff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: 0.8rem ;
}

.blog-post__img{
    /* min-width: 35rem;
    max-width: 35rem;
    height: 30rem; */
    padding: 0rem;
    width: 110rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post__img img{
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    border-radius: .8rem;
}

.blog-post__img::before{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right,rgba(250,1,196,0.8),rgba(75,15,99,0.8));
    box-shadow: 0.5rem 0.5rem 0.3rem 1px rgba(0,0,0,0.05);
    border-radius: 0.8rem;
}

/* .blog-post__img:hover::before {      // Old Anushree's code
    opacity: 0; 
} */

.blog-post:hover .blog-post__img::before {      /*New code for opacity 0 on hover over entire card*/
    opacity: 0;
}


.blog-post__date span{
    display: block;
    color: rgba(0,0,0,0.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.blog-post__title{
    font-size: 1rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4fac4f;
}

.blog-post__text{
    text-align: justify;
    margin-bottom: 3rem;
    font-size: 1rem;
    color:rgba(0,0,0,0.7);
}

.blog-post__cta{
    display: inline-block;
    padding: .5rem 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ffffff;
    background-image: linear-gradient(to right, #fa01c4 0%, #4b0f63 100%);
    border-radius: 0.8rem;
    text-decoration: none;
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.blog-post{
        padding: 2.5rem;
        flex-direction: column;
        max-width: 50vw;
    }
    .blog-post__img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0,-8rem);
        /* min-width: 30rem; */
        max-width: 50vw;
    }
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.blog-post{
        padding: 2.5rem;
        flex-direction: column;
        max-width: 80rem;
    }
    .blog-post__img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0,-8rem);
        min-width: 30rem;
        max-width: 30rem;
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	
}

@media only screen and (min-device-width: 1025px) {
	
} 